<a href="https://colab.research.google.com/github/bharaths44/S3-CS-Lab/blob/main/Lab_cycle%203.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**AGGREGATION AND GROUPING**

**Qn.1 Load 'planets' dataset and apply simple aggregation functions to the dataset that grouped by the feature 'method' and iterate over the group**

* count() Total number of items
* first(), last() First and last item
* mean(), median() Mean and median
* min(), max() Minimum and maximum
* std(), var() Standard deviation and variance
* mad() Mean absolute deviation
* prod() Product of all items
* sum() Sum of all items

In [ ]:
import seaborn as sns
planets = sns.load_dataset('planets')
planets.shape

(1035, 6)

In [ ]:
planets.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [ ]:
planets.groupby('method')['orbital_period'].median()

method
Astrometry                         631.180000
Eclipse Timing Variations         4343.500000
Imaging                          27500.000000
Microlensing                      3300.000000
Orbital Brightness Modulation        0.342887
Pulsar Timing                       66.541900
Pulsation Timing Variations       1170.000000
Radial Velocity                    360.200000
Transit                              5.714932
Transit Timing Variations           57.011000
Name: orbital_period, dtype: float64

In [ ]:
for (method, group) in planets.groupby('method'):
  print("{0:30s} shape={1}".format(method, group.shape))

Astrometry                     shape=(2, 6)
Eclipse Timing Variations      shape=(9, 6)
Imaging                        shape=(38, 6)
Microlensing                   shape=(23, 6)
Orbital Brightness Modulation  shape=(3, 6)
Pulsar Timing                  shape=(5, 6)
Pulsation Timing Variations    shape=(1, 6)
Radial Velocity                shape=(553, 6)
Transit                        shape=(397, 6)
Transit Timing Variations      shape=(4, 6)

****Qn.2 Apply groupby operation on the feature 'method' with aggregation, filtering, transform and apply to the planets dataset.**

* 1. Find the minimum of all attributes
* 2. Filter the values whose year value count is greater than 5
* 3. Transform the values to a new value that is subtracted with its mean
* 4. Apply the same filter function to the dataset using 'apply'

In [ ]:
planets.groupby('method').aggregate('min')

                               number  orbital_period    mass  distance  year
method
Astrometry                          1      246.360000     NaN     14.98  2010
Eclipse Timing Variations           1     1916.250000  4.2000    130.72  2008
Imaging                             1     4639.150000     NaN      7.69  2004
Microlensing                        1     1825.000000     NaN   1760.00  2004
Orbital Brightness Modulation       1        0.240104     NaN   1180.00  2011
Pulsar Timing                       1        0.090706     NaN   1200.00  1992
Pulsation Timing Variations         1     1170.000000     NaN       NaN  2007
Radial Velocity                     1        0.736540  0.0036      1.35  1989
Transit                             1        0.355000  1.4700     38.00  2002
Transit Timing Variations           2       22.339500     NaN    339.00  2011

In [ ]:
def filter_func(x):
  return x['year'].count() > 5

In [ ]:
print(planets.groupby('method').count());
print(planets.groupby('method').filter(filter_func)['method'].unique())

                               number  orbital_period  mass  distance  year
method
Astrometry                          2               2     0         2     2
Eclipse Timing Variations           9               9     2         4     9
Imaging                            38              12     0        32    38
Microlensing                       23               7     0        10    23
Orbital Brightness Modulation       3               3     0         2     3
Pulsar Timing                       5               5     0         1     5
Pulsation Timing Variations         1               1     0         0     1
Radial Velocity                   553             553   510       530   553
Transit                           397             397     1       224   397
Transit Timing Variations           4               3     0         3     4
['Radial Velocity' 'Imaging' 'Eclipse Timing Variations' 'Transit'
 'Microlensing']

In [ ]:
planets.groupby('method').transform(lambda x: x - x.mean())

        number  orbital_period       mass    distance      year
0    -0.721519     -554.054680   4.469301   25.799792 -1.518987
1    -0.721519       51.419320  -0.420699    5.349792  0.481013
2    -0.721519      -60.354680  -0.030699  -31.760208  3.481013
3    -0.721519     -497.324680  16.769301   59.019792 -0.518987
4    -0.721519     -307.134680   7.869301   67.869792  1.481013
...        ...             ...        ...         ...       ...
1030 -0.954660      -17.160566        NaN -427.298080 -5.236776
1031 -0.954660      -18.486209        NaN -451.298080 -4.236776
1032 -0.954660      -17.910549        NaN -425.298080 -4.236776
1033 -0.954660      -16.976990        NaN -306.298080 -3.236776
1034 -0.954660      -16.914316        NaN -339.298080 -3.236776

[1035 rows x 5 columns]

In [ ]:
print(planets.groupby('method').apply(filter_func))

method
Astrometry                       False
Eclipse Timing Variations         True
Imaging                           True
Microlensing                      True
Orbital Brightness Modulation    False
Pulsar Timing                    False
Pulsation Timing Variations      False
Radial Velocity                   True
Transit                           True
Transit Timing Variations        False
dtype: bool